@import './base.css';


input:focus,
select:focus,
textarea:focus,
button:focus,
.page-link:focus {
  outline: none !important;
  box-shadow: none !important;
  /* background-color: none; */
}

.body-section {
  margin-bottom: 100px;

}

@media screen and (max-width: 992px) {
  .body-section {
    margin-top: 67px;
  }
}

.other-page-hero {
  background-color: var(--bs-light);
  padding-block: 60px;
  border-bottom: 2px solid #f5f5f5;
  background: url("@/assets/images/hero/hero-bg.jpg") no-repeat center/cover;
}

/* animatons- start */
.bounce {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.hover-tiltX {
  transition: all ease-in-out 0.4s;
}


.hover-tiltX:hover {
  transform: translateX(5px);
}

.hover-tiltY {
  transition: all ease-in-out 0.4s;
}


.hover-tiltY:hover {
  transform: translateY(-5px);
}

/* animatons- end */




.theme-color {
  color: #FF3C00 !important;
}

.theme-color-faint {
  color: #ff3c0079 !important;
}

.theme-btn {
  background-color: #FF3C00;
  color: #fff;
}

.theme-btn:hover {
  background-color: #d33404;
  color: #fff;
}

.btn-custom-light {
  border: 1px solid #6c757d !important;
  color: #6c757d;
  border-color: #c9cdd1 !important;
}

.btn-custom-light:hover {
  background-color: #f5f5f5 !important;
  color: #111 !important;
}

.btn-custom-secondary {
  background-color: #f5f5f5 !important;
  border: 1px solid #6c757d !important;
  color: #6c757d;
}

.btn-custom-secondary:hover {
  background-color: #e2dfdf !important;
  color: #111 !important;
}

.btn-danger {
  border-color: #d8989e !important;
}

th {
  font-weight: bold !important;
}

.text-muted2 {
  color: #c9cdd1 !important;
}

.xsmall {
  font-size: 11px;
}

.xxsmall {
  font-size: 9px;
}

.cursor-pointer {
  cursor: pointer;
}

.list-scroll {
  /* background-color: #eeeeee7c; */
  height: 500px;
  overflow-y: auto;
}

/* #################################### remove arrow from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}

/* #################################### end of remove arrow from number input */